.footer {
  background-color: #4b2b2b;
  color: #fff;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.footer .footer-content .logo {
  flex: 1;
}
.footer .footer-content .logo img {
  width: 150px;
}
.footer .footer-content .footer-links {
  display: flex;
  flex: 2;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer .footer-content .footer-links div {
  margin: 0 1rem;
}
.footer .footer-content .footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0.5rem 0;
  display: block;
  font-size: 1rem;
}
.footer .footer-content .social-media {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-content .social-media a {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 0 0.5rem;
  text-decoration: none;
}
.footer .footer-bottom {
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  border-top: 1px solid #fff;
}
.footer .footer-bottom .legal-links {
  display: flex;
  flex-wrap: wrap;
}
.footer .footer-bottom .legal-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 0.5rem;
  font-size: 0.9rem;
}
.footer .footer-bottom .copyright {
  font-size: 0.9rem;
  color: #ff0055;
}
.footer .footer-content .footer-links div a:hover,
.footer .footer-content .social-media a:hover,
.footer .footer-bottom .legal-links a:hover {
  color: #ff0055;
  transition: all 0.2s;
}

@media (max-width: 768px) {
    .footer .footer-content {
        flex-direction: column;
        align-items: flex-start; /* Align items to the left */
    }

    .footer .footer-content .footer-links {
        flex-direction: column;
        align-items: flex-start; /* Align links to the left */
    }

    .footer .footer-content .social-media {
        margin-top: 1rem;
        justify-content: flex-start; /* Align social media icons to the left */
    }

    .footer .footer-bottom {
        flex-direction: column;
        align-items: flex-start; /* Align bottom section items to the left */
    }

    .footer .footer-bottom .legal-links {
        justify-content: flex-start; /* Align legal links to the left */
    }
}