.cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.plans .title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    color: #ff0055;
}

.plans .pre-title {
    font-size: 1.5rem;
    text-align: center;
}

.plans span {
    color: #ff0055;
}

.free, .go, .pro {
    max-width: 25%;
    height: auto;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 34px;
    background-color: #bfa5a5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.free h2, .go h2, .pro h2 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.plan-img {
    width: 70%;
    margin: 0 auto;
}

.plan-img img {
    width: 100%;
}

.price {
    font-size: 64px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.money {
    margin-bottom: 0;
}

.duration {
    font-size: 18px;
}

.free a, .go a, .pro a {
    background-color: white;
    color: #ff0055;
    margin: 1rem auto 0;
    border-radius: 25px;
    padding: 0.5rem 2rem;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid #ff0055;
    transition: background-color 0.3s ease, color 0.3s ease;
    align-self: center;
}

.go a:hover, .pro a:hover {
    background-color: #ff0055;
    color: white;
}

.plans ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    text-align: left;
}

.plans ul li {
    margin-bottom: 0.5rem;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    padding-left: 1.5rem;
}

.plans ul li::before {
    content: '✔';
    position: absolute;
    left: 0;
    color: #ff0055;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .free, .go, .pro {
        max-width: 90%;
        margin: 1rem 0;
    }
}